.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the App take the full height of the viewport */
}

.container {
  display: flex;
  width: 100%;
  flex: 1; /* Grow to fill the available space */
}

/* Additional styling for Navbar if needed */
.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  z-index: 1000;
}
